---
layout: default
title: AdamChuan's Blog

---
{% include header.html %}
{% include template.html %}
<div class='main-contrainer'>
	<aside class='left_aisde'>
		<a class="btn_wrap btn_prev">
			<i class='i_btn '></i>
		</a>
	</aside>
	<div id='articles' class='article-container'>
		
	</div>
	<aside class='right_aisde'>
		<a class="btn_wrap btn_next">
			<i class='i_btn'></i>
		</a>
	</aside>
</div>


<script>
	{% for post in site.posts  %}
article.add('{{ site.baseurl }}' + '{{ post.url }}','{{ post.summary }}','{{ post.category }}','{{ post.tags}}','{{ post.date | date:"%Y年%m月%d日" }}','{{ post.title }}');
{% endfor %}
</script>

{% include footer.html %}





