
<meta charset="UTF-8">
<title>Adam码字的地方-{{ include.stitle }} </title>
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
<meta name="format-detection" content="telephone=no" />
<meta property="qc:admins" content="45414367715305166012" />
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/all.min.css">
<link href="{{ site.baseurl }}/assets/plugins/google-code-prettify/prettify.css" rel="stylesheet">
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?e85987ac2dd8213a0e036a78ad96c796";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
