
<meta charset="UTF-8">
<title>Adam码字的地方-{{ include.title }} </title>
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
<meta name="format-detection" content="telephone=no" />
<meta property="qc:admins" content="45414367715305166012" />
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/all.min.css">
<link href="{{ site.baseurl }}/assets/plugins/google-code-prettify/prettify.css" rel="stylesheet">
<script type="text/javascript">
try{
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F58239c503e77705e7369a4fb5b99ed72' type='text/javascript'%3E%3C/script%3E"));
}
catch(e){
	console.log('tj.baidu.com is error');
}
</script>