<!--if lt IE 9| <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>-->
<header class="header-container">
	<h1 class="header-title">Adam"s Blog</h1>
	<small class="header-des">前端小码农 & 谷歌搬运工 & dota玩家</small>
	<nav class="header-nav">
		<ul class="header-menu">
			<li class="header-menu-item home">
				<a class="btn_pageChange header-menu-link" href="{{ site.baseurl }}/index.html">首页</a>
			</li>
			<li class="header-menu-item  category">
				<a class="btn_pageChange header-menu-link" href="{{ site.baseurl }}/class.html">分类</a>
			</li>
			<li class="header-menu-item  work">
				<a class="btn_pageChange header-menu-link" href="{{ site.baseurl }}/works.html">some works</a>
			</li>
			<li class="header-menu-item  about">
				<a class="btn_pageChange header-menu-link" href="{{ site.baseurl }}/about.html">about Me</a>
			</li>
		</ul>
	</nav>
</header>