<script type="text/html" id="t_summary">
	<article data-tname="post" class='article-wrap'>
		<header class='article-header-wrap'>
			<h2 class='article-title'>
				<a class='btn_pageChange' href='__HREF__'>__TITLE__</a>
			</h2>
			<small>
				<time class='article-time'> <i class='icon-calendar'></i>
					__DATE__
				</time>
			</small>
		</header>
		<div class='article-content'>__POSTS__</div>
	</article>
</script>

<script type="text/html" id="t_post">
	<article data-tname="post" class='article-wrap'>
		<header class='article-header-wrap'>
			<h2 class='article-title'>
				<a class='btn_pageChange' href='__HREF__'>__TITLE__</a>
			</h2>
			<small>
				<time class='article-time'> <i class='icon-calendar'></i>
					__DATE__
				</time>
			</small>
			<small>
				__CATEGORYLINK__
			</small>
		</header>
		<div class='article-content'>__POSTS__</div>
		<div class="pageChange">
			<div class="post-prev-link">上一篇：__PREVLINK__</div>
			<div class="post-next-next">下一篇：__NEXTLINK__</div>		
		</div>
		
	</article>

</script>

<script type="text/html" id="t_category">
	<dd data-tname="category">
		<article class="category_article">
			<header>
				<a class="btn_pageChange" href="__HREF__">
					<span class="category_article_title">__TITLE__</span>
				</a>
			</header>
			<footer>
				<span class="category_article_tags_wrap">__TAGSCOL__</span>
				<time class="category_article_date"> <i class="icon-calendar"></i>
					__DATE__
				</time>
			</footer>
		</article>
	</dd>
</script>
<script type="text/html" id="t_empty">
	<div class="coffee-wrap" data-tname="empty">
		<div class="smoke-container">
			<div class="smoke-wrap">
				<div class="smoke"></div>
				<div class="smoke"></div>
				<div class="smoke"></div>
				<div class="smoke"></div>
				<div class="smoke"></div>
				<div class="smoke"></div>
			</div>
			<div class="smoke-wrap">
				<div class="smoke"></div>
				<div class="smoke"></div>
				<div class="smoke"></div>
				<div class="smoke"></div>
				<div class="smoke"></div>
				<div class="smoke"></div>
			</div>
			<div class="smoke-wrap">
				<div class="smoke"></div>
				<div class="smoke"></div>
				<div class="smoke"></div>
				<div class="smoke"></div>
				<div class="smoke"></div>
				<div class="smoke"></div>
			</div>
		</div>
		<div class="coffee-smoke"></div>
		<div class="coffee-body"></div>
		<div class="coffee-hander">
			<div class="coffee-hander-empty"></div>
		</div>
		<div class="coffee-dish"></div>
		<div class="coffee-word">内容被博主喝掉了！</div>
	</div>
</script>
<script type="text/html" id="t_tags">
	<a data-tname="tags" class="category_article_tags" href="__HREF__">
		<i class="icon-paper-clip"></i>
		<span>__TAGS__</span>
	</a>
</script>
<script type="text/html" id="t_loadding">
	<div data-tname="loadding">
		<div class="spinner">
			<div class="double-bounce1"></div>
			<div class="double-bounce2"></div>
		</div>
	</div>
</script>