
<!-- 首页显示的文章 -->
<article class='article-wrap'>
	<header class='article-header-wrap'>
		<h2 class='article-title'>
			<a class='btn_pageChange' href='__HREF__'>__TITLE__</a>
		</h2>
		<small>
			<time class='article-time'> <i class='icon-calendar'></i>
				__DATE__
			</time>
		</small>
	</header>
	<div class='article-content'>__POSTS__</div>
	<div id="uyan_frame"></div>
	<script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js"></script>
</article>
<!-- 分类的Item -->
<dd>
	<article class='category_article'>
		<header>
			<a class='btn_pageChange' href='__HREF__'>
				<span class='category_article_title'>__TITLE__</span>
			</a>
		</header>
		<footer>
			<span class='category_article_tags_wrap'>__TAGSCOL__</span>
			<time class='category_article_date'> <i class='icon-calendar'></i>
				__DATE__
			</time>
		</footer>
	</article>
</dd>
<!-- tags模板 -->
<a class='category_article_tags' href="__HREF__">
	 <i class='icon-paper-clip'></i>
	 <span>__TAGS__</span>
</a>
<!-- 空模板-->
<div class='empty-container'>
	你要访问的东西被我吃掉了，换个别的看看吧。
</div>