<script>
	var pageType = 3;
</script>
	<content class = "contentWrap">
	 	<div class = "contentHeader">
			<h2>{{ page.title }}
				<small>分类</small>
				<small>
					<a href="{{site.baseurl}}/class.html#{{ page.category}}">{{ page.category}}</a>
				</small>
			</h2>
		</div>
		<div>
		{{content}}
	</div>
	<div class="pageChange">
		{% if page.previous %}
		上一篇 : <a href = "{{ site.baseurl +  page.previous.url }}"> {{ page.previous.title | truncatewords:5 }}</a>	
		{% endif %}
		{% if page.next %}
  		下一篇 : <a href = "{{ site.baseurl +  page.next.url }}"> {{ page.next.title | truncatewords:5 }}</a>	
		{% endif %}
	</div>
</content>


