<!DOCTYPE html>
<html lang="en">
<head>
	{% include header.html title=page.title %}
</head>
<body>
<div class="wrapper">
	{% include nav.html %}
	<div class='main-contrainer'>
		<div id='articles' class='article-container'>
			<header class='article-header-wrap'>
				<h2 class='article-title'>
					{{ page.title }}
				</h2>
				<small>
					<time class='article-time'> <i class='icon-calendar'></i>
						{{ page.date | date:"%Y年%m月%d日" }}
					</time>
				</small>
			</header>
		<div class="article-content">
			{{content}}
			<div class="pageChange">
				{% if page.previous %}
				<div class="post-prev-link">上一篇：<a href="{{ page.previous.url }}"> {{ page.previous.title }}</a></div> 
				{% endif %}
				{% if page.next %}
				<div class="post-next-next">下一篇：<a href="{{ page.next.url }}"> {{ page.next.title }}</a></div>		
				{% endif %}
			</div>
		</div>
		<!-- 多说评论框 start -->
			<div class="ds-thread" data-thread-key="{{ page.id }}" data-title="page.title" data-url="{{ page.url }}"></div>
		<!-- 多说评论框 end -->
		<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
		<script type="text/javascript">
		var duoshuoQuery = {short_name:"adamchuan"};
			(function() {
				var ds = document.createElement('script');
				ds.type = 'text/javascript';ds.async = true;
				ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
				ds.charset = 'UTF-8';
				(document.getElementsByTagName('head')[0] 
				 || document.getElementsByTagName('body')[0]).appendChild(ds);
			})();
			</script>
		<!-- 多说公共JS代码 end -->
	</div>
	{% include copyright.html %}
</div>
{% include footer.html %}
</body>
